.App {
    text-align: center;
    background-color: black;
    min-height: 100vh;
    padding: 10px 0px;
}
.github-button {
    color: white;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 25px;
    cursor: pointer;
}